*{
  margin: 0;
}
.active {
  color: red;
  background-color: violet;
  border: 1px solid black;
}

.app-container { 
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: aqua;  */
  height: 100%;
  margin: 50px;
  /* width: 100rem; */
}