.form-container{
    /* background-color: rgb(159, 159, 187); */
    height: 100vh;
    /* width: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg-01.jpg);
    background-size: 100vw;
    /* box-sizing : content-box; */
}